<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Mi Mundo</title>
        <meta charset="UTF-8">
            <link href="css/estilo1.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <header th:fragment="header2">
            <hr/>
        <nav class="nav">
        <a href="http://localhost:91" class="logo nav-link">Ingreso de Paises</a>
       </nav>
            <hr/>
        </header>

        <footer th:fragment="footer2">
            <hr/>
            <p>&COPY Practica para el primer examen parcial</p>
            <hr/>
        </footer>

    </body>
</html>
