<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Mi Mundo</title>
        <meta charset="UTF-8">
            <link href="css/estilo1.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <header th:fragment="header">
        <nav class="nav">
        <a href="localhost:91" class="logo nav-link">Mi Mundo</a>
       </nav>
        </header>





        <footer th:fragment="footer">
            <p>&COPY Practica para el primer examen parcial</p>
            //
        </footer>

    </body>
</html>
